section {
  display: flex;
  flex-direction: column;
}

.photo-grid {
  margin: 2em auto;
  max-height: 20em;
  align-self: center;
}

.hero-text {
  margin: 2em 3em;
  max-width: 20em;
}

.hero-text p {
  line-height: 1.1em;
}
