.card {
  width: 11em;
  margin: 1em;
  position: relative;
}

.card-img {
  max-height: 15em;
  max-width: 11em;
  border-radius: 1em;
}

.card-badge {
  position: absolute;
  top: 0.8em;
  left: 0.8em;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0.3em 0.5em;
  border-radius: 0.3em;
  /* font-weight: bold; */
  font-size: 0.7rem;
}

.title {
  text-overflow: ellipsis;
}

.description {
  display: flex;
  flex-direction: column;
  color: #222222;
  font-size: 0.75rem;
  line-height: 1.8em;
}

.description p {
  margin: 0;
}

.rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: lighter;
}

.rating img {
  height: 1em;
}

.rating p {
  margin: 0 0 0 0.5em;
}

.rating p span {
  color: #918e9b;
}

.price {
  margin: 0;
}

.price span {
  font-weight: 600;
}
